#container {

  width:950px;
  height:800;

}

#iphone, #ipad, #headphones {

  display:inline-block;
  width:300px;
  height:372px;
  position:relative;
  z-index: 2;
  margin-bottom:20px;
}

.bigDiscount {

  width:40px;
  height:20px;
  background-color: green;
  position:absolute;
  right:0;
  top:0;
  text-align: center;
}

.smallDiscount {

  width:30px;
  height:20px;
  background-color: red;
  position:absolute;
  right:0;
  top:0;
  text-align: center;
  }

#love {

  position:absolute;
  left:450px;
  bottom:430px;
  color:red;
  font-size: 170%;
  z-index: 1;

}

#iphone.favourite:hover {

  z-index:0;
}
