#container {

  width:1000px;
  margin: auto;

}

#container > div {
  display:inline-block;

}

#object1,
#object2,
#object3 {

  width:300px;
  height:400px;
  background-size: cover;
  position:relative;

}

#object1:hover span,
#object2:hover span,
#object3:hover span {

  display:block;
}

#object1 {

  background-image: url("pd1.jpg");

}

#object2 {

  background-image: url("pd2.jpg");


}

#object3 {

  background-image: url("pd3.jpg");

}

.bigDiscount, .smallDiscount {

  font-size:20px;
  position: absolute;
  right:0;
  top:0;

}

.smallDiscount {

  background-color: red;
}

.bigDiscount {

  background-color: green;

}

span {

  font-size: 30px;
  color:red;
  position: absolute;
  bottom:0;
  left: calc((100% - 30px) /2);
  display:none;
}
