#container {

  width:930px;
  height:765;
}

#iphone, #ipad, #headphone {

  display:inline-block;
  width:300px;
  height:372px;
  margin-bottom: 20px;
  position:relative;
}

.bigDiscount {

  width:30px;
  height: 15px;
  background-color: green;
  position:absolute;
  right:0;
  top:0;
}
